@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #000;
  color: #eee;
}
.container-cls {
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-cls h1 {
  font-size: 3rem;
  padding: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align: center;
  overflow: hidden;
}
.container-cls h1 span.typed-text {
  font-weight: normal;
  color: black;
}
.container-cls h1 span.cursor {
  display: inline-block;
  background-color: #333;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container-cls h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}

#photo{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 120;
  border-radius: 100px;
}
#cert1{
    background-color: beige;
}
#cert2{
    background-color: cornsilk;
}
#cert3{
    background-color: ivory;
}

#logo{
    width: 39px;
    height: 28px;
    border-radius: 80px;
}


@media(min-width:578px){
  #contact{
    width: 100%
  }
}
